<div class="row">
  <div class="col mb-4">
    <a routerLink="new" class="btn btn-primary">Agregar Cliente</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="table-wrapper">
      <app-loading [loading]="loadingCustomers"></app-loading>
      <table
        class="table table-responsive-sm table-hover table-striped table-sm animated fadeIn"
      >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Email</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Dirección</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{ customer.name }}</td>
            <td>{{ customer.document }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phoneNumber }}</td>
            <td>{{ customer.address }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
