<div class="row">
  <div class="col mb-2">
    <app-back-button></app-back-button>
  </div>
</div>

<div class="purchase" *ngIf="purchase">
  <h3 class="font-weight-bolder text-center my-2">Detalle de la compra</h3>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <table
        class="table table-responsive-sm table-striped table-sm animated fadeIn"
      >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>id</td>
            <td>{{ purchase.id }}</td>
          </tr>
          <tr>
            <td>Fecha</td>
            <td>{{ purchase.date }}</td>
          </tr>
          <tr>
            <td>Empleado</td>
            <td>{{ purchase.employee.name }}</td>
          </tr>
          <tr>
            <td>Proveedor</td>
            <td>{{ purchase.provider.businessName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 mx-auto">
      <table
        class="table table-responsive-sm table-striped table-sm animated fadeIn"
      >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Tipo</th>
            <th scope="col">Valor</th>
            <th scope="col">Modelo</th>
            <th scope="col">Marca</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let machine of purchase.machines">
            <td>{{ machine.id }}</td>
            <td>{{ machine.type }}</td>
            <td>
              {{
                machine.purchaseValue | currency: "COP":"symbol-narrow":"1.0-0"
              }}
            </td>
            <td>{{ machine.model.name }}</td>
            <td>{{ machine.model.brand }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
