<div class="row">
  <div class="col">
    <h4 class="font-weight-bolder">Listado de Empleados</h4>
    <h5>Seleccione uno para ver más detalles</h5>
  </div>
</div>
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="table-wrapper">
      <app-loading [loading]="loadingEmployees"></app-loading>
      <table
        class="table table-responsive-sm table-hover table-striped table-sm animated fadeIn"
      >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Email</th>
            <th scope="col">Cargo</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let employee of employees"
            (click)="viewEmployeeDetails(employee.id)"
          >
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.document }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.job.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
