<div class="row">
  <div class="col">
    <div class="jumbotron">
      <h1>Sección de Inventario</h1>
      <p>
        En este apartado podrás encontrar la información relacionada
        con el inventario de la empresa.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4 my-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Máquinas</h5>
            <p class="card-text">
              Puedes todas las maquinas registradas y consultar el detalle de
              cada una.
            </p>
            <p class="card-text">
              <a class="btn btn-primary" routerLink="maquinas">Navegar</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Marcas</h5>
            <p class="card-text">
              Puedes ver todas las marcas disponibles y agregar marcas nuevas.
            </p>
            <p class="card-text">
              <a class="btn btn-primary" routerLink="marcas">Navegar</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Modelos</h5>
            <p class="card-text">
              Puedes ver los modelos disponibles, agregar nuevos modelos y
              modificarlos.
            </p>
            <p class="card-text">
              <a class="btn btn-primary" routerLink="modelos">Navegar</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
