<form [formGroup]="brandForm" (ngSubmit)="onSubmit()" style="width: 350px;" class="mx-auto">
  <h3 class="text-center">Agrega una nueva Marca</h3>
  <div class="form-group">
    <label>Nombre de la marca</label>
    <input formControlName="brandName" type="text" class="form-control">
    <small class="form-text text-muted">Required</small>
  </div>
  <div class="form-group">
    <label>Logo URL</label>
    <input formControlName="brandLogo" type="text" class="form-control">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block w-50 mx-auto">Agregar</button>
  </div>
</form>
