<div class="row">
  <div class="col mb-2">
    <a routerLink="new" class="btn btn-primary">Agregar Modelo</a>
  </div>
</div>
<app-loading [loading]="loadingModels"></app-loading>
<div class="row mx-auto">
  <div
    *ngFor="let model of models"
    class="card col-md-5 mx-auto my-2"
    style="width: 250px;"
  >
    <div class="card-body">
      <h5 class="card-title">{{ model.modelName }}</h5>
      <hr />
      <p class="card-text">{{ model.description }}</p>
      <h4>
        <span class="badge badge-warning">{{ model.brand.brandName }}</span>
      </h4>
    </div>
  </div>
</div>
