<div class="row">
  <div class="col">
    <a routerLink="new" class="btn btn-primary mb-4">Realizar Compra</a>
  </div>
</div>

<div class="row">
  <div class="col-md-8 mx-auto">
    <table
      class="table table-responsive-sm table-hover table-striped table-sm animated fadeIn"
    >
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Valor</th>
          <th scope="col">Fecha</th>
          <th scope="col">Empleado</th>
          <th scope="col">Proveedor</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let purchase of purchases"
          (click)="viewPurchaseDetails(purchase.id)"
        >
          <td>{{ purchase.id }}</td>
          <td>
            {{
              purchase.purchaseValue | currency: "COP":"symbol-narrow":"1.0-0"
            }}
          </td>
          <td>{{ purchase.date }}</td>
          <td>{{ purchase.employee.name }}</td>
          <td>{{ purchase.provider.businessName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
