<form [formGroup]="modelForm" (ngSubmit)="onSubmit()" style="width: 350px;" class="mx-auto">
  <h3 class="text-center">Agrega un nuevo Modelo</h3>
  <div class="form-group">
    <label>Nombre del Modelo</label>
    <input formControlName="modelName" type="text" class="form-control">
    <small class="form-text text-muted">Required</small>
  </div>
  <div class="form-group">
    <label>Descripción</label>
    <textarea formControlName="description" class="form-control" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label>Marca</label>
    <select class="custom-select" formControlName="brandId">
      <option selected>Open this select menu</option>
      <option *ngFor="let brand of brands" [value]="brand.id">{{brand.brandName}}</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block w-50 mx-auto">Agregar</button>
  </div>
</form>
