@import url("https://fonts.googleapis.com/css?family=Comic+Neue:400,400i&display=swap");

.login-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../../assets/images/background-login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.login__form__title {
  margin-top: 2rem;
  color: #1561ad;
  text-align: center;
  font-family: "Comic Neue", cursive;
  font-style: italic;
}

.login__form {
  max-width: 350px;
  min-width: 270px;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.login__form__item {
  display: flex;
  flex-direction: column;
  height: 60px;
  margin: 10px auto;
}

.form__item__label {
  color: #1561ad;
  font-weight: bold;
  margin-bottom: 5px;
}

.form__item__input {
  padding: 4px;
  border: none;
  border-bottom: 1px solid #1561ad;
  outline: none;
}

.form__button__submit {
  border: none;
  width: 200px;
  padding: 1rem;
  margin: auto;
  border-radius: 1rem;
  background-color: #1dbab4;
  border: 1px solid #1dbab4;
  color: white;
  font-weight: bold;
}

.form__button__submit:disabled {
  background-color: gray;
  border: 1px solid gray;
}

.form__item__validator {
  color: red;
}

.error__message-container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error__message {
  color: red;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .login__form {
    width: 250px;
  }
}
