@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-color: whitesmoke;
}

table {
  cursor: pointer;
}
